html, body {
	max-width: 1170px;
	background-color: #08090D;

	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;

	margin:auto;

	/*border: 1px solid red;*/
}

.info a {
	text-decoration: none;
	/*line-height: 3.8;	*/
	padding-bottom: 2px;	
	border-bottom: .6px solid rgba(255, 255, 255, .2);
	color: #fff;
}
.info a:hover {
	border-bottom: .6px solid rgba(255, 255, 255, .6);
	transition: .3s;
}

/*FOOTER*/

/*.FOOTER-HEADER*/

footer * {margin: 0;}

footer {
	padding: 0 10px;
}

.footer-header {
	height: 128px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	/*border: 1px solid red;*/
	
	border-bottom: 1px solid #444549;
}

.logo {
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	/*border: 1px solid red;*/
}

.constructor {
	flex-basis: 500px;

	line-height: 1.5;
	/*font-size: 12px;*/

	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*.CATEGORIES */

footer h3 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #444549;

	margin: 40px 0 20px;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.category {
	flex-basis: 270px;

	/*border: 1px solid red;*/
}

footer ul {padding: 0;}

footer li {
	list-style: none;
	letter-spacing: 0.04em;
	margin-top: 10px;
}
footer li:hover {
	color: #8A8A8A;
	cursor: pointer;
	transition: .4s;
}

/*.INFO*/

.info {
	height: 98px;
	border-top: 1px solid #444549;
	border-bottom: 1px solid #444549;

	font-size: 12px;
	line-height: 1.5;

	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.left-inf {
	flex-basis: 380px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.left-inf .subtitle {flex-basis: 240px;}

.right-inf {
	flex-basis: 560px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.right-inf .subtitle {flex-basis: 300px;}

/*META*/

.meta {
	height: 80px;

	letter-spacing: 0.04em;
	color: #444549;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right-meta {
	text-transform: uppercase;
	letter-spacing: 0.2em;
}